node-red_flows_xkcd.json
[
    {
        "id": "8b86b574ae0385e1",
        "type": "tab",
        "label": "reTerminal",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "67f2744edf50011b",
        "type": "http in",
        "z": "8b86b574ae0385e1",
        "name": "",
        "url": "xkcd.bmp",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 240,
        "y": 200,
        "wires": [
            [
                "d1d57cd4e98dd317"
            ]
        ]
    },
    {
        "id": "e64182993e6cd010",
        "type": "debug",
        "z": "8b86b574ae0385e1",
        "name": "debug 24",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1020,
        "y": 300,
        "wires": []
    },
    {
        "id": "22c2429db2b17fea",
        "type": "http response",
        "z": "8b86b574ae0385e1",
        "name": "",
        "statusCode": "200",
        "headers": {
            "content-type": "image/bmp"
        },
        "x": 1020,
        "y": 260,
        "wires": []
    },
    {
        "id": "d1d57cd4e98dd317",
        "type": "function",
        "z": "8b86b574ae0385e1",
        "name": "getxkcd",
        "func": "let random = Math.floor(Math.random() * 3164) + 1;\nlet rndnr = random;\n\nmsg.url = `https://xkcd.com/${rndnr}/info.0.json`;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 200,
        "wires": [
            [
                "867ad4088192f49d"
            ]
        ]
    },
    {
        "id": "867ad4088192f49d",
        "type": "http request",
        "z": "8b86b574ae0385e1",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 610,
        "y": 200,
        "wires": [
            [
                "7fd1418c4f23d295"
            ]
        ]
    },
    {
        "id": "b847b98dbcf0c075",
        "type": "inject",
        "z": "8b86b574ae0385e1",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 220,
        "y": 240,
        "wires": [
            [
                "d1d57cd4e98dd317"
            ]
        ]
    },
    {
        "id": "7fd1418c4f23d295",
        "type": "function",
        "z": "8b86b574ae0385e1",
        "name": "img url",
        "func": "\nmsg.payload = msg.payload.img;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 790,
        "y": 200,
        "wires": [
            [
                "abf9480d25ae44bf"
            ]
        ]
    },
    {
        "id": "abf9480d25ae44bf",
        "type": "jimp-image",
        "z": "8b86b574ae0385e1",
        "name": "",
        "data": "payload",
        "dataType": "msg",
        "ret": "buf",
        "parameter1": "-1",
        "parameter1Type": "num",
        "parameter2": "480",
        "parameter2Type": "num",
        "parameter3": "",
        "parameter3Type": "none",
        "parameter4": "",
        "parameter4Type": "msg",
        "parameter5": "",
        "parameter5Type": "msg",
        "parameter6": "",
        "parameter6Type": "msg",
        "parameter7": "",
        "parameter7Type": "msg",
        "parameter8": "",
        "parameter8Type": "msg",
        "sendProperty": "payload",
        "sendPropertyType": "msg",
        "parameterCount": 3,
        "jimpFunction": "resize",
        "selectedJimpFunction": {
            "name": "resize",
            "fn": "resize",
            "description": "resize the image. One of the w or h parameters can be set to automatic (\"Jimp.AUTO\" or -1).",
            "parameters": [
                {
                    "name": "w",
                    "type": "num|auto",
                    "required": true,
                    "hint": "the width to resize the image to (or \"Jimp.AUTO\" or -1)"
                },
                {
                    "name": "h",
                    "type": "num|auto",
                    "required": true,
                    "hint": "the height to resize the image to (or \"Jimp.AUTO\" or -1)"
                },
                {
                    "name": "mode",
                    "type": "resizeMode",
                    "required": false,
                    "hint": "a scaling method (e.g. Jimp.RESIZE_BEZIER)"
                }
            ]
        },
        "x": 930,
        "y": 200,
        "wires": [
            [
                "9ee336651d09ce8b"
            ]
        ]
    },
    {
        "id": "0eadf0f37933cbe3",
        "type": "image viewer",
        "z": "8b86b574ae0385e1",
        "name": "",
        "width": 160,
        "data": "payload",
        "dataType": "msg",
        "active": true,
        "x": 1010,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "9ee336651d09ce8b",
        "type": "jimp-image",
        "z": "8b86b574ae0385e1",
        "name": "written.bmp",
        "data": "payload",
        "dataType": "msg",
        "ret": "img",
        "parameter1": "writte.bmp",
        "parameter1Type": "str",
        "parameter2": "",
        "parameter2Type": "msg",
        "parameter3": "",
        "parameter3Type": "msg",
        "parameter4": "",
        "parameter4Type": "msg",
        "parameter5": "",
        "parameter5Type": "msg",
        "parameter6": "",
        "parameter6Type": "msg",
        "parameter7": "",
        "parameter7Type": "msg",
        "parameter8": "",
        "parameter8Type": "msg",
        "sendProperty": "payload",
        "sendPropertyType": "msg",
        "parameterCount": 1,
        "jimpFunction": "write",
        "selectedJimpFunction": {
            "name": "write",
            "fn": "write",
            "description": "Write to file. NOTE: You can specify an alternative file extension type to change the type. Currently support types are jpg, png, bmp.",
            "parameters": [
                {
                    "name": "filename",
                    "type": "str",
                    "required": true,
                    "hint": "Name of the file",
                    "defaultType": "str"
                }
            ]
        },
        "x": 450,
        "y": 300,
        "wires": [
            [
                "1bbb1d2dcbc74853"
            ]
        ]
    },
    {
        "id": "1bbb1d2dcbc74853",
        "type": "delay",
        "z": "8b86b574ae0385e1",
        "name": "",
        "pauseType": "delay",
        "timeout": "2",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 620,
        "y": 300,
        "wires": [
            [
                "1770a34d9d405a30"
            ]
        ]
    },
    {
        "id": "1770a34d9d405a30",
        "type": "jimp-image",
        "z": "8b86b574ae0385e1",
        "name": "load written.bmp",
        "data": "writte.bmp",
        "dataType": "str",
        "ret": "buf",
        "parameter1": "writte.bmp",
        "parameter1Type": "str",
        "parameter2": "",
        "parameter2Type": "msg",
        "parameter3": "",
        "parameter3Type": "msg",
        "parameter4": "",
        "parameter4Type": "msg",
        "parameter5": "",
        "parameter5Type": "msg",
        "parameter6": "",
        "parameter6Type": "msg",
        "parameter7": "",
        "parameter7Type": "msg",
        "parameter8": "",
        "parameter8Type": "msg",
        "sendProperty": "payload",
        "sendPropertyType": "msg",
        "parameterCount": 0,
        "jimpFunction": "none",
        "selectedJimpFunction": {
            "name": "none",
            "fn": "none",
            "description": "Just loads the image.",
            "parameters": []
        },
        "x": 780,
        "y": 300,
        "wires": [
            [
                "0eadf0f37933cbe3",
                "e64182993e6cd010",
                "22c2429db2b17fea"
            ]
        ]
    }
]